<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>emoji</key>
	<integer>19074976140</integer>
	<key>moustache</key>
	<integer>18785280840</integer>
	<key>style</key>
	<integer>19364671440</integer>
</dict>
</plist>
